.social {

  $block-name:                &; // #{$block-name}__element

  &__link {
    //transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: #0ca7fe !important;
    }

    &--contacts {

      &:hover,
      &:focus {
        color: #fe395f !important;
      }
    }
  }
}
