.team-block {
  @include set-block;

  $block-name:                &; // #{$block-name}__element

  &__item,
  &__link  {
    height: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
      text-decoration: none;

      p {
        color: #0ca7fe !important;
      }
    }
  }

  &__img {

    img {
      @include object-fit(cover);
    }
  }

  &__text {
    flex: 1 1;
    padding: 30px;
    background-color: white;
  }

  &__intro {
    color: white;

    h2 { color: inherit; }
  }
}
