.contacts-map-block {

  $block-name:                &; // #{$block-name}__element

  &__map {

    iframe {
      display: block;
      min-height: 160px;

      @media (min-width: 768px) {
        min-height: 320px;
      }
    }
  }
}
