.service-item-block {
  margin-bottom: 0 !important;

  &:nth-child(even) {
    color: white;
    background-color: #181a28;

    h2, h3 {
      color: inherit;
    }

    .uk-list-bullet > li::before {
      background-image: svg-load('../img/bullet.svg', fill=#fff);
    }

    .uk-button-primary {
      background-color: #fe395f;
      border-color: #fe395f;

      &:hover,
      &:focus {
        background-color: darken(#fe395f, 5%);
        border-color: darken(#fe395f, 5%);
      }

      &:active {
        background-color: darken(#fe395f, 10%);
        border-color: darken(#fe395f, 10%);
      }
    }
  }

  $block-name:                &; // #{$block-name}__element

}
